<!-- Furniture details with furniture picture-->
<div fxLayout="column" class="details">
  <div class="about_furniture" fxLayout="row wrap" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="40" fxFlex.lt-sm="100" class="discription">
      <p>01.</p>
      <h1>Your living room furniture</h1>
      <p>
        Furnuture refers to movable objects intended to support various human activities such as seating, eating
        and sleeping. Furniture is also used to hold objects at a convenient height for work
        or to store things. Furniture can be a product of design and is considered a form od decorative art.
        in addition to furnitural role, it can serve a symbolic or religious purpose.
      </p>
      <a href="www.furniture.com"> READ MORE </a>
    </div>
    <div fxLayout="row" fxFlex="50" fxFlex.lt-sm="100" fxLayoutAlign="end">
      <svg width="350" height="350">
        <rect width="600" height="300">
        </rect>
      </svg>
      <img height="230" src="assets/img/Living.png">
    </div>
  </div>
</div>
