<!-- Advertsing and offer section -->
  <div class="advertisement">
  <figure class="special-offers" fxLayout="row wrap">
    <div fxFlex="25" fxHide.lt-md>
      <img src="assets/img/middle.jpg">
      <div>
        <mat-card class="new-year-sales" fxLayoutAlign="center center">
          <a href="https://newyear/sales">
            NEW YEAR SALES
            <mat-card-content> NOW IN STORES</mat-card-content>
          </a>
        </mat-card>
      </div>
    </div>
    <div fxFlex="50" fxHide.lt-sm fxFlex.sm="100">
      <img src="assets/img/Advertise.png">
    </div>
    <div fxFlex="25" fxFlex.lt-sm="100" fxHide.sm>
      <img src="assets/img/right.jpg">
      <div>
        <mat-card class="new-year-sales" fxLayoutAlign="center center">
          <a href="https://newyear/sales">
            NEW ARRIVALS
            <mat-card-content> SHOP NOW</mat-card-content>
          </a>
        </mat-card>
      </div>
    </div>
  </figure>
</div>
