@import "variables";

      a {
        text-decoration: none;
        color: $black;
      }

      a:visited {
        color: $black;
      }

      a:active, a:link {
          color: $black;
      }
    