//colors
$green: #4CAF50;
$black: black;
$white: white;
$grey: grey;
$light-black: rgb(59, 56, 56);
$light-red: rgb(231, 206, 206, 2);
$light-grey: rgb(240, 239, 239);
$banner-black: rgb(97, 94, 94, 1);