<!-- Furniture prices section -->
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="9px" fxLayoutGap.xs="0">
  <figure fxFlexAlign="start">
    <img class="sofa" height="165" src="assets/img/1.jpg">
    <div class="mat-body-2"> Cleon Lounge Chair</div>
    <div class="mat-title"> $1,199.00</div>
  </figure>
  <figure fxFlexAlign="end">
    <img class="sofa" height="165" src="assets/img/2.jpg">
    <div class="mat-body-2"> Meno Lounge Chair</div>
    <div class="mat-title"> $899.00</div>
  </figure>
  <figure fxFlexAlign="start">
    <img class="sofa" height="165" src="assets/img/3.png">
    <div class="mat-body-2"> Cleon Lounge Chair</div>
    <div class="mat-title"> $1,199.00</div>
  </figure>
  <figure fxFlexAlign="end">
    <img class="sofa" height="165" src="assets/img/4.jpg">
    <div class="mat-body-2"> Hot Mesh Lounge Chair</div>
    <div class="mat-title"> $299.00</div>
  </figure>
</div>
