<!-- Services provided by the company-->
<div fxLayout="row wrap" fxLayoutAlign="center">
  <div class="button-icon" fxFlexAlign="start">
    <a href="www.homedelivery.com">
    <button mat-fab><i class="material-icons">favorite</i>
    </button> </a>
    <h5>PRODUCT LIST</h5>
    <h6>We provide the best quality of products to you.</h6>
  </div>
  <div class="button-icon" fxFlexAlign="end">
    <a href="www.homedelivery.com">
    <button mat-fab><i class="material-icons">motorcycle</i>
    </button> </a>
    <h5>HOME DELIVERY</h5>
    <h6>We provide the best quality of products to you.</h6>
  </div>
  <div class="button-icon" fxFlexAlign="start">
    <a href="www.homedelivery.com">
    <button mat-fab><i class="material-icons">add_shopping_cart</i>
    </button> </a>
    <h5>EASY SHOPPING</h5>
    <h6>We provide the best quality of products to you.</h6>
  </div>
  <div class="button-icon" fxFlexAlign="end">
    <a href="www.homedelivery.com">
    <button mat-fab><i class="material-icons">menu_book</i>
    </button> </a>
    <h5>PRODUCT CATALOG</h5>
    <h6>We provide the best quality of products to you.</h6>
  </div>
</div>
